html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: Montserrat;
  margin: 0;
}

h1 {
  color: #BF0A31; 
}

overview.section1 {
  background-color: #eee; 
  margin: 6px 0; }

concepts ul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3; }
  
readings li { 
  margin: 0; }
